DATABASE_URL=postgresql://abcdef:xxxxx@wsl-ip:5432/monozao_db
DIRECT_URL=postgresql://abcdef:xxxx@wsl-ip:5432/monozao_db
PRISMA_CLI_BINARY_TARGET=linux-musl
JWT_SECRET=yourSecret
X_SIGN=ultraSecretPassword
VITE_X_SIGN=ultraSecretPassword
VITE_BASE_URL=http://localhost:3001
VITE_SOCKET_URL=http://localhost:3001
DB_PASSWORD=yourStrongPassword