services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: project-uno-app-mono
    restart: always
    ports:
      - "3001:3001"
    environment:
      NODE_ENV: production
      DATABASE_URL: ${DATABASE_URL}
      DIRECT_URL: ${DIRECT_URL}
      JWT_SECRET: ${JWT_SECRET:-yourSecret}
      X_SIGN: ${X_SIGN:-ultraSecretPassword}
      VITE_X_SIGN: ${VITE_X_SIGN:-ultraSecretPassword}
      VITE_BASE_URL: ${VITE_BASE_URL}
      VITE_SOCKET_URL: ${VITE_SOCKET_URL}
    env_file:
      - .env
    volumes:
      - ./prisma:/app/prisma
      - app_uploads:/app/uploads
    networks:
      - shared-postgres-network

    command: sh /app/docker-entrypoint.sh
    healthcheck:
      interval: 30s
      timeout: 10s
      start_period: 40s
      retries: 3

volumes:
  app_uploads:
    driver: local

networks:
  shared-postgres-network:
    external: true
